.viewTemplate{

    background-color: white;
    border: 2px solid white;
    border-bottom: none;
    cursor: pointer;
    color: inherit;
    
    /* box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
    ; */

}

.viewTemplate:hover{

    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
    ;
    width: 102%;
    height: 102%;
    margin-top: -2%;
    color: inherit;



}

.itemTemplate{
    overflow-y: auto;
    background-color: white;

    border-radius: 5px;
    height: 100%;
}

.outerTemplate{
    height: 100%;
}



.itemTemplate {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.itemTemplate::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.itemTemplateDesc{
    color:#45b29a;
    background-color: white;
    /* height: fit-content; */
    font-size: 1.3rem;
}

.itemContainer{

    margin: 0 auto;
}